#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
tmp/
typings/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# Typescript
#---------------------------------
src/**/*.js
src/**/*.map


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
