#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
tmp/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# Typescript
#---------------------------------
src/**/*.js
src/**/*.map
typings/*
!typings/prismic.io.d.ts
!typings/prismic-toolbar.d.ts


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
